<h3><a class="btn btn-secondary" href="/employee">create new</a></h3>
<table class="table table-striped" style="color: red;">
    <thread>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>city</th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        {{#each list}}
        <tr >
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>
        </tr>
        {{/each}}
    </tbody>

</table>